@font-face {
  font-family: spacemono;
  src: url("../assets/fonts/SpaceMono-Regular.ttf");
}

@font-face {
  font-family: spacemonoBold;
  src: url("../assets/fonts/SpaceMono-Bold.ttf");
}
#vantabg {
  position: fixed;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(0, 0, 0, 0.92);
  color: white;
  font-family: spacemono;
}

* {
  border: 0px solid white;
}

.nav {
  z-index: 9;
  width: 100%;
  position: fixed;
  background-color: transparent;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
}

.dropdown-menu {
  background-color: transparent;
}

.nav-link:hover,
.dropdown-item:hover {
  text-decoration: none;
  font-weight: bolder;
  color: white;
  background-color: transparent;
}

.dropdown-item {
  color: white;
  background-color: transparent;
  padding: 0.5rem;
}

.main-row {
  padding-top: 18%;
  padding-bottom: 10%;
}

.col-main-left {
  padding-left: 3.5%;
}

.col-main-left,
.col-main-right {
  padding-top: 5%;
  padding-bottom: 5%;
}

.display-2 {
  font-weight: bolder;
  font-size: 4vw;
  font-family: spacemonoBold;
}

.text-md,
.tech {
  font-size: 1.7rem;
}

.tech .col-6 {
  padding: 0;
}

.text-sm {
  font-size: 1rem;
}

.contact-col {
  padding: 3%;
  padding-left: 4%;
  font-weight: 200;
}

.jumpers {
  position: fixed;
  z-index: 9;
  top: 85%;
  left: 0%;
}

.jump-link,
.jump-item {
  padding: 0.2rem;
  list-style-type: none;
  color: white;
  font-family: spacemonoBold;
  text-decoration: none;
}

.jump-link:hover {
  text-decoration: none;
  color: white;
  border-bottom: 2px solid white;
}

.watermark {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 3%;
  opacity: 0.5;
  font-size: 0.9rem;
}

@media (max-width: 575.98px) {
  .main-row {
    padding-top: 60%;
    padding-bottom: 40%;
  }
  .sub-row {
    margin-left: 0.3rem;
  }
  .nav-link {
    font-size: 1rem;
  }
  .display-4,
  .text-md {
    font-size: 4vw;
  }
  .display-2 {
    font-size: 7.8vw;
  }
  .text-sm {
    font-size: 3.2vw;
  }
  .tech {
    font-size: 3.4vw;
  }
  .dropdown-item {
    font-size: 3vw;
  }
  .jumpers {
    left: -5%;
    font-size: 0.9rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .nav-link {
    font-size: 1rem;
  }
  .display-2 {
    font-size: 7.8vw;
  }
  .display-4,
  .text-md {
    font-size: 4.1vw;
  }
  .text-sm {
    font-size: 3.2vw;
  }
  .tech {
    font-size: 3.4vw;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .nav-link {
    font-size: 1rem;
  }
  .display-2 {
    font-size: 7.8vw;
  }
  .display-4,
  .text-md {
    font-size: 4.1vw;
  }
  .text-sm {
    font-size: 3.2vw;
  }
  .tech {
    font-size: 3.4vw;
  }
}
